<!-- Header -->
<header id="header">
	<a href="{{ site.baseurl }}/" class="image avatar"><img src="{{ site.image_directory }}/avatar.jpg" alt="主页"/></a>
	<h1>{{ site.description }} <br>关键词：{{ site.keywords }}</h1>
	{% if page.categories %}
	<hr>
	<h2>
		所属分类：
		<a href="{{ site.baseurl }}/posts?point_category={{ page.categories | last }}">
			{{ page.categories | join:' > ' }}
		</a>
	</h2>
	{% endif %}
	<hr>
	<h2><a href="{{ site.baseurl }}/categories">分类列表-></a></h2>
</header>
<!-- Header End -->